<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
   <add name="estudandoConnectionString" connectionString="Data Source=lucasbaciotti\sqlexpress;Initial Catalog=estudando;User ID=sa;Password=123456"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<authentication mode="Forms">
			<forms loginUrl="Login.aspx" defaultUrl="AcessoNegado.aspx" name=".Sistemas3Cookie" protection="All" timeout="45"></forms>
		</authentication>
		<authorization>
			<deny users="?"/>
			<allow users="*"/>
		</authorization>
		<compilation debug="true" strict="false" explicit="true" targetFramework="4.0"/>
	</system.web>
	<location path="Administrador/Contato.aspx">
		<system.web>
			<authorization>
				<allow roles="Administrador"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Gerente">
		<system.web>
			<authorization>
				<allow roles="Gerente,Administrador"/>
				<deny users="*"/>
			</authorization>
		</system.web>
	</location>
	<location path="Imagens">
		<system.web>
			<authorization>
				<allow users="*"/>
			</authorization>
		</system.web>
	</location>
</configuration>
